<div class="container">
  <div class="cards">
    <div class="month d-flex ">
      <div class="card" style="width: 18rem; height:  4.5rem;">
        <div class="card-body d-flex justify-content-between mt-2">
          <p class="card-text" class="previus">⬅️</p>
          <p class="card-text">Março de 2023</p>
          <p class="card-text" class="next" >➡️</p>
        </div>
      </div>
    </div>
    <div class="balance d-flex justify-content-around">
      <div class="card" style="width: 8rem; height: 4.5rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Receitas</strong></h5>
          <p class="card-text">R$ 0,00</p>
        </div>
      </div>
      <div class="card" style="width: 8rem; height:  4.5rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Despesas</strong></h5>
          <p class="card-text">R$ 0,00</p>
        </div>
      </div>
      <div class="card" style="width: 8rem; height:  4.5rem;">
        <div class="card-body">
          <h5 class="card-title"><strong>Balanço</strong></h5>
          <p class="card-text">R$ 0,00</p>
        </div>
      </div>
    </div>
  </div>
</div>
